---
layout: archive
classes: wide
---

{{ content }}


<!-- <h3 class="archive__subtitle">About Me</h3>
<p>
Hi, my name's Chen Zhang and I'm currently a lecturer at School of Computer Science & Technology in Soochow University. </br>
I received my Ph.D. from Fudan University in 2022, supervised by Prof. <a href="https://cspengxin.github.io/">Xin Peng</a> and Prof. <a href="https://chenbihuan.github.io/">Bihuan Chen</a>. 
I received my M.Sc. from China University of Mining and Technology in 2016, supervised by Prof. <a href="https://siee.cumt.edu.cn/info/1012/1016.htm">Dunwei Gong</a>.
My research focuses on intelligent software development, software evolution, software testing and continuous integration.
</p> 

<h3 class="archive__subtitle">Publications</h3>


<h3 class="archive__subtitle">Education</h3>

### EDu -->
<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3> -->

<!-- {% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %} -->
